# Ignore the heavy folders
node_modules/
vendor/

# Ignore XAMPP system files if you accidentally included them
/apache/
/mysql/
/php/
/tmp/

# Ignore your private API keys and DB passwords
.env
config.php